<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info"
      internalLogFile=".\logs\internal.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="File" name="ownFile-web" fileName="logs\${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|" />

    <!-- <target  type="Database" name="database" connectionString="${configsetting:item=ConnectionStrings.Default}">
      <commandText>
        INSERT INTO Log ([Origin], [Message], [LogLevel],[CreatedOn], [Exception], [Trace]) VALUES (@Origin,@Message,@LogLevel,@Date,'','');
      </commandText>
      <parameter name="@Date" layout="${date}" dbType="DbType.DateTime"/>
      <parameter name="@Origin" layout="${callsite}"/>
      <parameter name="@LogLevel" layout="${level}"/>
      <parameter name="@Message" layout="${message}"/>
    </target>-->
    
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="ownFile-web" />
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <!--<logger name="*" minlevel="Info" writeTo="database" />-->
  </rules>
</nlog>
