<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".cs" #>
namespace <#= Model.NamespaceName #>.Lib.DataAccess
{
<# foreach (var item in Model.Classes){ #>
    public class <#= item.Name #>DataAccess 
    {
        public string <#= item.Name #> {get;set;}
    }
<# } #>  
} 